<!DOCTYPE HTML>
<html>
<head>
<include file="public:top-style" />
<title>卡密分类</title>
</head>
<body>
    <style type="text/css">
    .box img{width: 50px; height: 40px;}
    body{position: relative;}
    .bigImg{position: absolute; width: 600px; height: auto; z-index: 9999}
</style>
<include file="public:crumbs" />
<div class="page-container">
    <div class="text-c">
        <form action="{{:url('index')}}" method="get" autocomplete="off">
        <input type="hidden" name="sfields" title="要查询的字段" value="title,content,outside_link">

       <!--地区信息-->
        <div id="distpicker3">
        地区范围：
          <select name="province_cn" class="select-box" style="width: 100px;"></select>
          <select name="city_cn" class="select-box" style="width: 100px;"></select>
          <select name="area_cn" class="select-box" style="width: 100px;"></select>
              <input type="text" name="reunite" id="" placeholder="标题，作者，关键字等" style="width:250px" class="input-text">
            <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
        </div>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l"><a href="javascript:;" onclick="_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span>
        <span class="dropDown l" style="margin-left: 4px;"><a href="javascript:;" onclick="_add('添加','addByAjax','1200','600')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a></span>

        <span class="dropDown l" style="margin-left: 4px;">
            <a class=" btn btn-primary radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 分类查看</a>
            <ul class="dropDown-menu menu radius box-shadow">
                <li><a href="{{:url('index')}}">全部</a></li>
                <li><a href="{{:url('index')}}?port=2">用户端</a></li>
                <li><a href="{{:url('index')}}?port=1">律师端</a></li>
            </ul>
        </span>

        <span class="r">共有数据：<strong>{{$count}}</strong> 条</span> </div>
    <div class="mt-20">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="3%"><input type="checkbox" name="" value=""></th>
                <th width="3%">ID</th>
                <th >用户群体</th>
                <th >广告描述</th>
                <th >内部链接</th>
                <th >外部链接</th>
                <th >链接描述</th>
                <th >跳转目标</th>
                <th >图片</th>
                <th >投放地区</th>
                <th >广告状态</th>
                <th >操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
            <tr class="text-c">
                <td><input type='checkbox' value='{{$vo.id}}' name='id'></td>
                <td class='id'>{{$vo.id}}</td>
                <td class='title'>{{$vo['port'] == 1?'律师端':'用户端'}}</td>
                <td class='location'>{{$vo.location}}</td>
                <td class='link'>{{$vo.title}}</td>
                <td class='link'>{{$vo.outside_link}}</td>
                <td class='link'>{{$vo.content}}</td>
                <td class='link'>{{$vo.inner_link}}</td>
                <td class='box'><notempty name="vo['picture_path']"><img class="img" src="{{$vo.weburl}}{{$vo.picture_path}}" data-src="{{$vo.picture_path}}" alt="" style="width:100px;" ></notempty></td>
                <td class='link'>{{$vo.province_cn}}{{$vo.city_cn}}{{$vo.area_cn}}</td>
                <td>
                    <if condition="$vo['status'] eq 0"><span class="label label-warning radius">未启用</span></if>
                    <if condition="$vo['status'] eq 1"><span class="label label-success radius">启用</span></if>
                </td>
                <td class='td-manage'>
                 <a title='编辑' href='javascript:;' onclick="_edit('订单编辑','{{:url('showById')}}','{{$vo.id}}','1200','600')" class='ml-5' style='text-decoration:none'><i class='Hui-iconfont'>&#xe6df;</i></a> </a> <a title='删除' href='javascript:;' onclick="_del(this,'{{$vo.id}}')" class='ml-5' style='text-decoration:none'><i class='Hui-iconfont'>&#xe6e2;</i></a></td>
            </tr>
            </volist>
        </tbody>
        <if condition="$count gt 10">
        <tbody>
            <tr class="text-c">
                <td colspan="100">{{$page}}</td>
            </tr>
            </tbody>
        </if>
    </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<include file="public:footer-style" /><!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/laypage/1.2/laypage.js"></script>
<!--地区插件-->
<script type="text/javascript" src="__PUBLICADMIN__lib/jQueryDistpicker20160621/js/distpicker.data.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jQueryDistpicker20160621/js/distpicker.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jQueryDistpicker20160621/js/main.js"></script>
<script type="text/javascript">

$("#distpicker3").distpicker({
  province: "{{$condition.province_cn}}",
  city: "{{$condition.city_cn}}",
  district: "{{$condition.area_cn}}"
});
/*订单-查看*/
function _show(title,url,id,w,h){
    layer_show(title,url+'?id='+id,w,h);
}
/*用户-添加*/
function _add(title,url,w,h){
    layer_show(title,url,w,h);
}
function _edit(title,url,id,w,h){
        layer_show(title,url+'?id='+id,w,h);
    }
/*卡密-停用*/
function _stop(obj = '',id = ''){
    if (!id) 
    {
        var id = new Array();
        $("input[name='id']:checked").each(function(i){
            id.push($(this).val());//向数组中添加元素
        });
        if (id.length < 1) {
            layer.msg('错误：至少选择一项!',{icon:1,time:1000});
            return false;
        }
    }
    layer.confirm('删除之后不能恢复，删除要销毁吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('forbid')}}",
            data:{
                id: id,
                status: '0'
            },
            dataType: 'json',
            success: function(data){
                if(data.code == 10000){
                    layer.msg(data.msg,{icon: 6,time:1000});
                    setTimeout('location.reload();',1500);
                }else{
                    layer.msg(data.msg,{icon: 6,time:1000});
                }
            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    });
}

/*卡密-启用*/
function _start(obj,id){
    layer.confirm('确认要启用吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('forbid')}}",
            dataType: 'json',
            data:{
                id: id,
                status:'1'
            },
            success: function(data){
                if(data.code == 10000){
                    layer.msg(data.msg,{icon: 6,time:1000});
                    setTimeout('location.reload();',1500);
                }else{
                    layer.msg(data.msg,{icon: 6,time:1000});
                }

            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    });
}


/*单独删除*/
function _del(e = '',id = ''){
    if (!id) 
    {
        var id = new Array();
        $("input[name='id']:checked").each(function(i){
            id.push($(this).val());//向数组中添加元素
        });
        if (id.length < 1) {
            layer.msg('错误：至少选择一项!',{icon:1,time:1000});
            return false;
        }
    }
    layer.confirm('确认要删除吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('deleteByAjax')}}",
            data:{
                id: id
            },
            dataType: 'json',
            success: function(data){
                if(data.code == 10000){
                    layer.msg(data.msg,{icon: 6,time:1000});
                    setTimeout('location.reload();',1000);
                }else{
                    layer.msg(data.msg,{icon: 6,time:1000});
                }
            },
            error:function(data) {
                alert("系统繁忙");
                location.reload();
            },
        });
    });
}

</script>
<include file="public:footer" />