<include file="public:top" />
<title>律师服务记录</title>
</head>
<body>
<div class="pd-">
<article class="page-container">
	<div >
    <table class="table table-border table-bordered table-bg table-hover table-sort">
      <thead>
        <tr class="text-c">
          <th >姓名</th>
          <th >电话</th>
          <th >地区</th>
          <th >行业</th>
          <th >开始日期</th>
          <th >结束日期</th>
          <th >更换理由</th>
        </tr>
      </thead>
      <tbody>
        <volist name="list" id="vo">
          <tr class="text-c">
            <td title="姓名">{{$vo.username}}</td>
            <td title="电话">{{$vo.phone}}</td>
            <td title="地区">{{$vo.area}}</td>
            <td title="行业">{{$vo.industry}}</td>
            <td title="开始日期">{{$vo.begin_time|date="Y-m-d H:i:s",###}}</td>
            <td title="结束日期"><if condition="$vo['end_time'] eq ''">服务中...<else/>{{$vo.end_time|date="Y-m-d H:i:s",###}}</if></td>
            <td title="更换理由" class="box" id="box">{{$vo.content}}</td>
          </tr>
        </volist>
      
      </tbody>
      </table>
      </div>
  </article>
</div>
<include file="public:footer-style" />
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/messages_zh.js"></script>
<include file="public:footer" />