<include file="public:top" />
<title>公告列表</title>
</head>
<body>

<include file="public:crumbs" />
<div class="page-container">

    <div class="text-c">
        <form action="{{:url('index')}}" method="get">
        <input type="hidden" name="sfields" title="要查询的字段" value="">

        日期范围：
        <input type="text" autocomplete="off" name="begintime" autocomplete="off" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" autocomplete="off" name="endtime" autocomplete="off" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
        <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
            </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="dropDown l" style="margin-left: 4px;">
            <a class=" btn btn-primary radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="Hui-iconfont">&#xe681;</i>分类查看</a>
            <ul class="dropDown-menu menu radius box-shadow">
                <li><a href="{{:url('index')}}?type=SMS">短信接口</a></li>
                <li><a href="{{:url('index')}}?type=chat">聊天接口</a></li>
                <li><a href="{{:url('index')}}?type=PAY">支付接口</a></li>
            </ul>
        </span>
        <span class="r">共有数据：<strong>{{$count}}</strong> 条</span>
    </div>
    <div class="mt-20">
  <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th>短信接口</th>
                <th>聊天接口</th>
                <th>支付接口</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-c">
                <td>
                    <span>{{$sms_s_count}}</span><br>
                    <span><a href="javascript:;">{{$sms_e_count}}</a></span>
                </td>
                <td>
                    <span>{{$chat_s_count}}</span><br>
                    <span><a href="javascript:;">{{$chat_e_count}}</a></span>
                </td>
                <td>
                    <span>{{$pay_s_count}}</span><br>
                    <span><a href="javascript:;">{{$pay_e_count}}</a></span>
                </td>
            </tr>
        </tbody>
    </table>
        <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th >API</th>
                <th >时间</th>
                <th >备注</th>
                <th >状态</th>
            </tr>
        </thead>
        <tbody>
            <volist name="all_res" id="vo">
            <tr class="text-c">
                <td>{{$vo.interface_name}}</td>
                <td>{{:date('Y-m-d h:m:s',$vo['add_time'])}}</td>
                <td>{{$vo['interface_description']}}</td>
                <td>
                    <span class="label label-defaunt radius">失败</span>
                </td>
            </tr>
            </volist>
        </tbody>
        <if condition="$count gt 10">
        <tbody>
            <tr class="text-c">
                <td colspan="16">{{$page}}</td>
            </tr>
        </tbody>
        </if>
    </table>

    </div>
</div>
<include file="public:footer-style" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
     /*用户-查看服务律师*/
function lawyer_show(title,url,id,w,h){
    layer_show(title,url,w,h);
}
</script>
<include file="public:footer" />