<include file="public:top" />
</head>
<body>
<article class="page-container">
    <form method="post" class="form form-horizontal" id="form-data-add" enctype="multipart/form-data">
        <input type="hidden"  class="input-text" value="1" placeholder="" id="sort" name="sort">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <select name="type" class="select">
                {{$option}}
                </select>
                </span> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">标记：</label>
            <div class="skin-minimal col-xs-8 col-sm-9">
                <div class="check-box">
                    <input type="checkbox" name="tag[]" id="checkbox-1" checked value="f">
                    <label for="checkbox-1">推荐</label>
                </div>
                <div class="check-box">
                    <input type="checkbox" name="tag[]" id="checkbox-2" value="h">
                    <label for="checkbox-2">热点</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">定时发布：</label>
            <div class="formControls col-xs-2 col-sm-3 ">
                 <div id='mySwitch' class="switch size-S">
                    <input type="checkbox" name='schedule' value='1'/>
                  </div>
            </div>

            <div class="formControls col-xs-4 col-sm-2" id='scheduletime'  style='display:none'>
                <input type="text" onfocus="WdatePicker({minDate:'%y-%M-%d',dateFmt:'yyyyMMdd HH:mm:ss'})" class="input-text Wdate" autocomplete="off" value="" placeholder="发布时间" id="add_time" name="add_time">
            </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">投放地区：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:550px;">
            <style type="text/css">
                .address_ul li{ float: left; width: 150px; }
                .address{ margin: 0 5px; }
            </style>
                <ul class="address_ul">
                <li><label class="address"><input type="checkbox" id="selectAll">全选</label></li>
                <volist name="area" id = "vo">
                    <li><label class="address" name="{{$vo.id}}"><input class="detailAddr" for = {{$vo.id}} type="checkbox" value="{{$vo.id}}" name="address[]">{{$vo.region_name}}</label></li>
                    </volist>
                </ul>
                </span>
                </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">发布部门：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="section" name="section">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">效力等级：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="effect" name="effect">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">类别：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="classify" name="classify">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">发布时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({minDate:'{%y-10}-%M-#%d',dateFmt:'yyyy-MM-dd'})" class="input-text Wdate" autocomplete="off" value="" placeholder="发布时间" id="release_time" name="release_time">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">生效时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({minDate:'{%y-20}-%M-#%d'})" class="input-text Wdate" autocomplete="off" value="" placeholder="生效时间" id="start_time" name="start_time">

            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">发文字号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="code" name="code">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">时效性：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <select name="prescription" class="select">
                <option value="1">即时生效</option>
                <option value="0">尚未生效</option>
                </select>
                </span> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <script name='content' id="editor" type="text/plain" style="width:100%;height:400px;"></script>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius"  type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>


    </form>
</article>

<include file="public:footer-style" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/ueditor/1.4.3/ueditor.all.js"> </script>
<script type="text/javascript" src="__PUBLICADMIN__lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    $('#mySwitch').on('switch-change', function (e, data) {
        var $el = $(data.el)
          , value = data.value;
        <!-- console.log(e, $el, value); -->
        if(value) {
            $('#scheduletime').show();
        }else{
            $('#scheduletime').hide();
        }
    });
    function selectAll(){
    //点击全选
    $("#selectAll").click(function(){
        if($(this).prop("checked")){
            //选中状态
            for(var i=0;i<$(".detailAddr").length;i++){
                $(".detailAddr").eq(i).prop("checked",true);
            }
            
        }else{
            for(var i=0;i<$(".detailAddr").length;i++){
                $(".detailAddr").eq(i).removeAttr("checked");
            }
        }
    })
}
$(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
    selectAll();
    //表单验证
    $("#form-data-add").validate({
        rules:{
            title:{
                required:true,
            },
            author:{
                required:true,
            },
            keyword:{
                required:true,
            },
            describe:{
                required:true,
            },
            sort:{
                required:true,
            },

        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                type: 'post',
                url: "{{:url('addByAjax')}}",
                success: function(data){
                    if (data.code == 10000) {
                        layer.msg(data.msg,{icon:1,time:1000});
                        setTimeout('parent.location.reload();',1500);
                    }else{
                        layer.msg(data.msg,{icon:5,time:1000});
                     }
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    layer.msg('系统繁忙!',{icon:5,time:1000});
                },
            });
        }
    });


});
</script>
<include file="public:img" />
<!--/请在上方写此页面业务相关的脚本-->
<include file="public:footer" />




