<include file="public:top" />
<title>签到管理</title>
</head>
<body>
<include file="public:crumbs" />
<div class="page-container">
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong>{{$count}}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th >ID</th>
					<th >会员id</th>
					<th >连续签到天数</th>
					<th >签到时间</th>
					<th >签到奖励</th>
					<th >状态</th>		
					<th >操作</th>
				
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
				<tr class="text-c">
					<td><input type="checkbox" value="{{$vo.id}}" name="id"></td>
					<td title="ID">{{$vo.id}}</td>
					<td title="会员id">{{$vo.uid}}</td>
					<td title="连续签到天数">{{$vo.signindays}}</td>
					<td title="添加时间">{{$vo.sign_time|date="Y-m-d H:i:s",###}}</td>
					<th title="签到奖励">{{$vo.reward}}</th>
					<td title="状态">{{$vo['status']?'签到成功':'签到失败'}}</td>
					<td class="f-14 td-manage"> <a style="text-decoration:none" class="ml-5" onClick="_del(this,'{{$vo.id}}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
				</volist>
			</tbody>
			<if condition="$count gt 10">
			<tbody>
				<tr class="text-c">
					<td colspan="8">{{$page}}</td>
				</tr>
				</tbody>
			</if>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<include file="public:footer-style" />
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLICADMIN__lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	
/*签到-删除*/
function _del(obj = '',id = ''){
	if (!id) 
	{
		var id = new Array();
	    $("input[name='id']:checked").each(function(i){
	        id.push($(this).val());//向数组中添加元素
	    });
	}
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{{:url('deleteByajax')}}',
			dataType: 'json',
			data:{'id':id},
			success: function(data){
				$(obj).parents("tr").remove();
				if(data.code == 10000){
					layer.msg(data.msg,{icon:1,time:1000});
				}else{
					layer.msg(data.msg,{icon:1,time:1000});
				}
				setTimeout('location.reload();',1500);
				
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>

	
<include file="public:footer" />