<include file="public:top" />
<title>订单列表</title>
</head>

<body>

    <include file="public:crumbs" />
    <div class="page-container">
        <div>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span>用户数据统计</span>
            </div>
            <div>
                <div class="mt-20" style="margin-bottom:2%;">
                    <table class="table table-border table-bordered table-hover table-bg table-sort">
                        <thead>
                            <tr class="text-c">
                                <th>总用户数</th>
                                <th>当前在线用户数</th>
                                <th>总认证号数</th>
                                <th>当前在线认证号数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-c">
                                <td>{{$alluser}}</td>
                                <td>{{$onlineuser}}</td>
                                <td>{{$alllawyer}}</td>
                                <td>{{$onlinelawyer}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="user_login" style="min-width:700px;height:400px"></div>
                <!-- <div id="user_register" style="min-width:700px;height:400px"></div> -->
                <div class="row cl">
                    <div class="formControls col-xs-6 col-sm-6">
                        <div id="user_area" style="min-width:500px;height:400px"></div>
                    </div>
                    <div class="formControls col-xs-6 col-sm-6">
                        <div id="user_type" style="min-width:500px;height:400px"></div>
                    </div>

                    <hr>

                    <div class="formControls col-xs-6 col-sm-6">
                        <div id="android_version_type" style="min-width:500px;height:400px"></div>
                    </div>

                    <div class="formControls col-xs-6 col-sm-6">
                        <div id="ios_version_type" style="min-width:500px;height:400px"></div>
                    </div>

                    <hr>
                    <div class="formControls col-xs-6 col-sm-6">
                        <div id="android_l_version_type" style="min-width:500px;height:400px"></div>
                    </div>
                    <div class="formControls col-xs-6 col-sm-6">
                        <div id="ios_l_version_type" style="min-width:500px;height:400px"></div>
                    </div>
                    <!--  <hr>
             <div><div id="i_version_type" style="min-width:700px;height:400px"></div></div> -->
                </div>
            </div>
        </div>
    </div>
        <!--_footer 作为公共模版分离出去-->
        <include file="public:footer-style" />
        <!--/_footer 作为公共模版分离出去-->
        <!--请在下方写此页面业务相关的脚本-->
        <script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
        <script type="text/javascript" src="__PUBLICADMIN__lib/laypage/1.2/laypage.js"></script>
        <script type="text/javascript" src="__PUBLICADMIN__lib/hcharts/Highcharts/5.0.6/js/highcharts.js"></script>
        <script type="text/javascript"
            src="__PUBLICADMIN__lib/hcharts/Highcharts/5.0.6/js/modules/exporting.js"></script>

        <script type="text/javascript">
            var url = "http://sanhedao.com.cn";
            /**
             * note:注册数据
             * auth:YW
             * date:2018/05/15
             */
            $(function () {
                $('#user_register').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '用户，认证号注册统计图'
                    },
                    subtitle: {
                        text: 'Source: WorldClimate.com'
                    },
                    xAxis: {
                        categories: {{$month}},
                    },
                yAxis: {
                    min: 0,
                    title: { text: 'Rainfall (人数)' }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: '用户',
                    data: {{$uc_active}}
                    }, {
                    name: '律师',
                    data: {{$lc_active}}
                    }]
                });
            });

            /**
             * note:用户地区占比图
             * auth:YW
             * date:2018/05/15
             */
            $(function () {
                $('#user_area').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: '用户地区占比图'
                    },
                    tooltip: {
                        pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: {{$area_count}},
                    }]
                });
            });
            /**
             * note:用户分类占比图
             * auth:YW
             * date:2018/05/15
             */
            $(function () {
                $('#user_type').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: '用户分类占比图'
                    },
                    tooltip: {
                        pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: {{$array_count}},
                    }]
                });
            });

            /**
             * note:用户活跃统计图
             * auth:YW
             * date:2018/05/15
             */
            $(function () {
                $('#user_login').highcharts({
                    chart: {
                        type: 'area'
                    },
                    title: {
                        text: '用户，认证号注册统计图'
                    },
                    subtitle: {
                        text: 'Source: ' + url
                    },
                    xAxis: {
                        categories: {{$month}},
                labels: {
                    formatter: function () {
                        return this.value; // clean, unformatted number for year
                    }
                }
                    },
                yAxis: {
                    title: {
                        text: 'States rainfall (人数)'
                    },
                    labels: {
                        formatter: function () {
                            return this.value / 1;
                        }
                    }
                },
                tooltip: {
                    pointFormat: '{series.name} 新增 <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
                },

                series: [{
                    name: '用户端',
                    data: {{$uc_active}}
                    }, {
                    name: '律师端',
                    data: {{$lc_active}}
                    }]
                });
            });
            /**
             * note:安卓用户端版本分布占比
             * auth:pt
             * date:2018/11/06
             */
            $('#android_version_type').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '安卓用户端版本分布占比'
                },
                tooltip: {
                    pointFormat: '安卓用户端: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: {{$version_count}},
                    }]
                });


            /**
             * note:苹果用户端版本分布占比
             * auth:pt
             * date:2018/11/06
             */
            $('#ios_version_type').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '苹果用户端版本分布占比'
                },
                tooltip: {
                    pointFormat: '苹果用户端: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: {{$ios_count}},
                    }]
                });



            /**
             * note:安卓律师端版本分布占比
             * auth:pt
             * date:2018/11/06
             */
            $('#android_l_version_type').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '安卓律师端版本分布占比'
                },
                tooltip: {
                    pointFormat: '安卓律师端: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: {{$version_l_count}},
                    }]
                });


            /**
             * note:苹果律师端版本分布占比
             * auth:pt
             * date:2018/11/06
             */
            $('#ios_l_version_type').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '苹果律师端版本分布占比'
                },
                tooltip: {
                    pointFormat: '苹果律师端: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: {{$ios_l_count}},
                    }]
                });

        </script>

        <include file="public:footer" />