<include file="public:top" />
<title>短信消息管理</title>
</head>
<body>
<include file="public:crumbs" />
<div class="page-container">
    <div class="text-c">
        <form action="{{:url('index')}}" method="get">
        <input type="hidden" name="sfields" title="要查询的字段" value="title">
        日期范围：
        <input type="text" autocomplete="off" name="begintime"  onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;" >
        -
        <input type="text" autocomplete="off" name="endtime"  onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;" >
        <input type="text" class="input-text" style="width:250px" placeholder="输入搜索信息" id="reunite" name="reunite">
        <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l"><a href="javascript:;" onclick="_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
        <a href="javascript:;" onclick="_edit('','','0')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe681;</i> 批量审核</a>
    </span>

    <span class="dropDown l" style="margin-left: 4px;">
        <a class=" btn btn-danger radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 分类查看</a>
        <ul class="dropDown-menu menu radius box-shadow select-menu">
            <li><a href="{{:url('index')}}">全部</a></li>
            <li><a href="{{:url('index')}}?review_status=0">待审核</a></li>
            <li><a href="{{:url('index')}}?review_status=1">已审核</a></li>

        </ul>
    </span>
    <span class="r">共有数据：<strong class="jl">{{$count}}</strong> 条</span> </div>
    <style type="text/css">
        .box { width: 100%;}
        .box-list li{ width: 20%; height: 260px; text-align: center; float: left; background: #F5FAFE; }
        .box-list li .title{ display: inline-block; text-align: left; font-size: 12px;}
        .box-list li .delete{ cursor: pointer; }
        .box-list li p{width: 98%; margin: 0 auto; line-height: 30px;}
    </style>
    <div class="mt-20">
        <div class="box">
        <div class="box-list">
            <ul>
            <volist name="list" id="vo">
                <li>
                    
                    <p class="title">日期：{{$vo.add_time|date="Y-m-d",###}} 
                    <if condition="$vo['review_status'] eq 0"> <span style="color: #F37B1D">待审核</span><elseif condition="$vo['review_status'] eq 1"><span style="color: #5EB95E"> 已通过</span><else/><span style="color: red"> 不通过</span></if> <span class="r"><eq name="$vo['local']" value="0">本地<else/>外部</eq>服务器</span></p>
                    
                    <span >
                    <video id="my-video" class="video-js" style=" display: block; width: 98%; height: 200px; margin: 0 auto;" controls preload="auto" poster="{{$vo.thumbnail}}" data-setup="{}">
                    <source src="{{$vo.path}}" type="video/mp4">
                    <source src="{{$vo.path}}" type="video/webm">
                    <source src="{{$vo.path}}" type="video/ogg">

                    <!-- <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                    <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                    <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg"> -->
                    
                    </video>
                    </span>
                    <p style="display: inline-block; width: 48%; padding-left: 3px;" class="l">
                    <label for="select-id-{{$vo.id}}">
                    <span class="title l">
                        <input id="select-id-{{$vo.id}}" type='checkbox' value='{{$vo.id}}' name='id'> {{$vo.title|mb_substr=0,12}}...<eq name="$vo['review_status']" value="1"></eq>
                    </span>
                    </label>
                    </p>
                    <p style="display: inline-block; width: 48%; text-align: right; padding-right: 3px;" class="r">
                        <eq name="$vo['review_status']" value="1">
                        <span style="cursor: pointer;" title="编辑" onclick="_show('编辑','{{:url('showByid')}}','{{$vo.id}}',1000,600)" class="delete"><i class="Hui-iconfont">&#xe61d;</i></span>
                        </eq>
                        <eq name="$vo['review_status']" value="1">
                        <span title="下架" onclick="_edit(this,{{$vo.id}},{{$vo.review_status}})" class="delete"><i class="Hui-iconfont">&#xe60b;</i></span>
                        <else/>
                        <span title="审核" onclick="_edit(this,{{$vo.id}},{{$vo.review_status}})" class="delete"><i class="Hui-iconfont">&#xe676;</i></span>
                        </eq>
                        <span title="删除" onclick="_del(this,{{$vo.id}})" class="delete"><i class="Hui-iconfont">&#xe609;</i></span>
                    </p>
                    
                    
                </li>
            </volist>
            </ul>
        </div>
    </div>
    <div style="clear: both;">
        <if condition="$count gt 10">
        <tfoot>
            <tr class="list-page">
                <td colspan="10">{{$page}}</td>
            </tr>
        </tfoot>
        </if>
    </div>
    </div>
    
</div>
<include file="public:footer-style" />
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/laypage/1.2/laypage.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLICADMIN__lib/vide7.4.1/css/video-js.min.css">
<script type="text/javascript" src="__PUBLICADMIN__lib/vide7.4.1/js/video.min.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/vide7.4.1/js/video.js"></script>
<script type="text/javascript">
/*-查看*/
function _show(title,url,id,w,h){
    layer_show(title,url+'?id='+id,w,h);
}

function _edit(obj = '',id = '',status = ''){
    status = status == '1'?'0':'1';
    if (!id) 
    {
        var id = new Array();
        $("input[name='id']:checked").each(function(i){
            id.push($(this).val());//向数组中添加元素
        });
        if (id.length < 1) {
            layer.msg('错误：至少选择一项!',{icon:1,time:1000});
            return false;
        }
    }
    layer.confirm('确定要操作吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('forbid')}}",
            data:{
                id: id,
                review_status: status
            },
            dataType: 'json',
            success: function(data){
                if(data.code == 10000){
                    layer.msg(data.msg,{icon: 6,time:1000});
                    setTimeout('location.reload();',1500);
                }else{
                    layer.msg(data.msg,{icon: 6,time:1000});
                }
                
                
            },
            error:function(data) {
                console.log(data.msg);
            },
        });     
    });
}
/*单独删除*/
function _del(obj = '',id = ''){
    if (!id) 
    {
        var id = new Array();
        $("input[name='id']:checked").each(function(i){
            id.push($(this).val());//向数组中添加元素
        });
    }
    layer.confirm('确认要删除吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('deleteByAjax')}}",
            data:{
                id: id
            },
            dataType: 'json',
            success: function(data){
                if(data.code == 10000){
                    layer.msg(data.msg,{icon: 1,time:1000});
                    setTimeout('location.reload();',1000);
                }else{
                    layer.msg(data.msg,{icon: 5,time:1000});
                }
            },
            error:function(data) {
                alert("系统繁忙");
                location.reload();
            },
        });
    });
}



</script>
