<include file="public:top" />
<title>订单列表</title>
</head>
<body>
 <include file="public:crumbs" />
<div class="page-container">

    <div class="text-c">
        <form action="{{:url('index')}}" method="get" autocomplete="off">
        <input type="hidden" name="sfields" title="要查询的字段" value="nickname">
        <!--地区信息-->
        <div id="distpicker3" >
        地区范围：
          <select name="province_cn" class="select-box" style="width: 100px;" ></select>
          <select name="city_cn" class="select-box" style="width: 100px;"></select>
          <select name="area_cn" class="select-box" style="width: 100px;"></select>
          日期范围：<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;" name="begintime">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;" name="endtime">
        <input type="text" class="input-text" style="width:250px" placeholder="输入用户名称，昵称，电话" id="reunite" name="reunite">
        <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
        </div>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="dropDown l" style="margin-left: 4px;">
            <a class=" btn btn-danger radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 导出EXCEL</a>

        </span>
        <span class="r"><notempty name="address">搜索地区：{{$area_cn}}</notempty> 共有数据：<strong>{{$count}}</strong> 条</span>
    </div>
    <div class="mt-20">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="50">省/市/区</th>
                <th width="50">名称</th>
                <th width="50">人数</th>
                <th width="50">收益</th>
                <th width="50">明细</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
            <tr class="text-c">
                <td>{{$vo.address}}</td>
                <td><a title="人员" href="javascript:;" onclick="show('人员','{{:url('onelawyer')}}',{{$vo.id}},'1200','660')" class="ml-5" style="text-decoration:none"><span style="color:#FA862D;font-size:14px; cursor:pointer;text-decoration:none;">{{$vo.name}}</span> </a></td>
                <td>{{$vo.count}}</td>
                <td>{{$vo.total}}</td>
                <td class="td-manage">
                    <a title="人员" href="javascript:;" onclick="show('人员','{{:url('onelawyer')}}',{{$vo.id}},'1200','660')" class="ml-5" style="text-decoration:none"></a><i class="Hui-iconfont">&#xe683;</i>
                </td>
            </tr>
            </volist>
        </tbody>
        <if condition="$count gt 10">
        <tbody>
            <tr class="text-c">
                <td colspan="16">{{$page}}</td>
            </tr>
        </tbody>
        </if>
    </table>
    </div>
</div>
<include file="public:footer-style" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<!--地区插件-->
<script type="text/javascript" src="__PUBLICADMIN__lib/jQueryDistpicker20160621/js/distpicker.data.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jQueryDistpicker20160621/js/distpicker.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jQueryDistpicker20160621/js/main.js"></script>
<script type="text/javascript">

$("#distpicker3").distpicker({
  province: "{{$condition.province_cn}}",
  city: "{{$condition.city_cn}}",
  district: "{{$condition.area_cn}}"
});

/*用户-查看*/
function member_show(title,url,w,h){
    layer_show(title,url,w,h);
}
/*用户-查看订单*/
function order_show(title,url,id,w,h){
    layer_show(title,url+'?uid='+id,w,h);
}
/*用户-查看服务律师*/
function lawyer_show(title,url,id,w,h){
    layer_show(title,url+'?uid='+id,w,h);
}
function exportData(title,pro,city,area,begintime,endtime,reunite){

$.ajax({
    type:"get",
    url:"{{:url('index')}}",
    data:{'pro':pro,'city':city,'area':area,'begintime':begintime,'endtime':endtime,'reunite':reunite,'do':'export'},
    success:function(data){
        document.location.href = data.url;
    },
    error:function(){
        layer.msg('导出失败!',{icon:2,time:2000});
    }
    });
}

</script>
<include file="public:footer" />