<include file="public:top" />
</head>
<body>
<article class="page-container">
	<form method="post" class="form form-horizontal" id="form-data-edit" enctype="multipart/form-data">
	<input type="hidden" value="{{$vo.id}}" name="id"/>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" autocomplete="off" value="{{$vo.name}}" placeholder="名称" id="name" name="name">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图标：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" disabled="true" >
				<div class="img-box a0b923820dcc509a-img">
					<volist name="vo['images']" id="ig">
					<div class='img-div'>
						<img src="{{$ig}}" />
    					<input type='hidden' value="{{$ig}}" name='images[]' />
    					<em class='close' title='删除这张图片' onclick='deleteMultiImage(this)'>×</em>
					</div>
					</volist>
				</div>
			</div>
			<div class="formControls col-xs-4 col-sm-3"><a title='图片显示' href='javascript:;' onclick="ajaxpage('1','a0b923820dcc509a-img');" class='btn btn-secondary radius' style='text-decoration:none'>选择图片</a></div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">上级：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="tid" size="1">
				<option value="-1">顶级</option>
					{{$option}}
				</select>
				</span> </div>
		</div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>


	</form>
</article>

<include file="public:footer-style" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/ueditor/1.4.3/ueditor.all.js"> </script>
<script type="text/javascript" src="__PUBLICADMIN__lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<include file="public:img" />
<script type="text/javascript">
$(function(){
	//表单验证
	$("#form-data-edit").validate({
        rules:{
			goods_name:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{{:url('updateByAjax')}}",
				success: function(data){
                    if (data.code == 10000) {
                        layer.msg(data.msg,{icon:1,time:1000});
                        setTimeout('parent.location.reload();',1500);
                    }else{
                        layer.msg(data.msg,{icon:5,time:1000});
                     }
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    layer.msg('系统繁忙!',{icon:5,time:1000});
                },
			});
		}
    });
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
<include file="public:footer" />




