<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLICADMIN__lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="__PUBLICADMIN__static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLICADMIN__static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLICADMIN__lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLICADMIN__static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLICADMIN__static/h-ui.admin/css/style.css" />
<script type="text/javascript" src="__PUBLICADMIN__lib/clipboard.js-master/dist/clipboard.min.js"></script>

<!--[if IE 6]>
<script type="text/javascript" src="__PUBLICADMIN__lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->