<include file="public:top" />
<include file="public:crumbs" />
<div class="pd-20">
	<div class="text-c"> 日期范围：
		<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate"
		 style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate"
		 style="width:120px;">
		<input type="text" class="input-text" style="width:250px" placeholder="输入数据库表名" id="" name=""><button type="submit"
		 class="btn btn-success" id="" name=""><i class="icon-search"></i> 搜数据库</button>

	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" class="btn btn-danger radius export"><i class="Hui-iconfont">&#xe632;</i> 数据库备份</a>
			<a href="javascript:;" class="btn btn-danger radius clear"><i class="Hui-iconfont">&#xe64e;</i> 清空数据</a>
			 </span> <span class="r">共有数据：<strong>{{:count($list)}}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="100">字段名称</th>
				<th width="100">驱动</th>
				<th width="200">数据行</th>
				<th width="200">创建时间</th>
				<th width="100">编码</th>
				<th width="100">备注</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="vo" empty="暂时没有数据">
				<tr class="text-c">
					<td><input type="checkbox" value="{{$vo.name}}" name="fields"></td>
					<td style="text-align: left;">{{$vo.name}}</td>
					<td>{{$vo.engine}}</td>
					<td>{{$vo.rows}}</td>
					<td>{{$vo.create_time}}</td>
					<td>{{$vo.collation}}</td>
					<td>{{$vo.comment}}</td>

					<td class="f-14">
						
						<a title="删除" href="javascript:;" onclick="_del(this,'{{$vo.name}}')" class="ml-5" style="text-decoration:none"><i
							 class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
			</volist>
		</tbody>

	</table>
</div>
<!--_footer 作为公共模版分离出去-->
<include file="public:footer-style" />
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	/*增加*/
	function _add(title, url, w, h) {
		layer_show(title, url, w, h);
	}
	/*单独删除*/
	function _del(e, name) {
		layer.confirm('确认要删除吗？', function (index) {
			$.ajax({
				type: 'POST',
				url: "{{:url('del')}}",
				data: {
					table: name
				},
				dataType: 'json',
				success: function (data) {
					if (data.code == 10000) {
						layer.msg(data.msg, {
							icon: 6,
							time: 1000
						});
					} else {
						layer.msg(data.msg, {
							icon: 6,
							time: 1000
						});
					}
					setTimeout('location.reload();', 1000);

				},
				error: function (data) {
					alert("系统繁忙");
					location.reload();
				},
			});
		});
	}
	/*编辑*/
	function _edit(title, url, id, w, h) {
		layer_show(title, url + '?id=' + id, w, h);
	}
	/*导出*/
	$(function () {
		$('.export').click(function () {
			var path = 'data';
			$.ajax({
				type: 'post',
				url: "{{:url('export')}}",
				data: {
					'path': path
				},
				success: function (data) {
					if (data.code == 10000) {
						layer.msg(data.msg, {
							icon: 1,
							time: 1000
						});
					} else {
						layer.msg(data.msg, {
							icon: 2,
							time: 2000
						});
					}
				},
				error: function (data) {
					layer.msg('系统繁忙!', {
						icon: 5,
						time: 1000
					});
				}
			})
		})
	})
	$(function () {
		$('.clear').click(function () {

			var path = '';
			$("input[name='fields']:checked").each(function () {
				path += $(this).val() + ','
			})
			$.ajax({
				type: 'post',
				url: "{{:url('clear')}}",
				data: {
					'path': path
				},
				success: function (data) {
					if (data.code == 10000) {
						layer.msg(data.msg, {
							icon: 1,
							time: 1000
						});
						setTimeout('location.reload();', 1000);
					} else {
						layer.msg(data.msg, {
							icon: 2,
							time: 2000
						});
					}
				},
				error: function (data) {
					layer.msg('系统繁忙!', {
						icon: 5,
						time: 1000
					});
				}
			})
		})
	})
</script>
<include file="public:footer" />