<include file="public:header-style" />
<link rel="stylesheet" href="__PUBLICINDEX__css/style.css">
<title>YWK</title>
<style> 
a{ text-decoration:none} 
</style>
</head>
<body>
<div style="width:100%; height:15px;"></div>
<div class="login-container">
	<h1>YWK</h1>
	<div class="connect">
		<p style="left: 0%;">www.ywk66.com</p>
	</div>

<div style="width:100%; height:15px;"></div>
	<form id="form-data-login" class="form form-horizontal">
		<div>
			<input type="text" value="15884591847" name="username" id="username" class="username" placeholder="手机号" autocomplete="on">
		</div>
		<div>
			<input type="password" value="123456" name="password" id="password" class="pwd" placeholder="密码" >
		</div>
		<button id="submit" class="login">登 陆</button>
	</form>
	
	<a href="{{:url('reset')}}">
		<button type="button" class="register-tis">忘记密码？</button>
	</a>

</div>


<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>YWK</p>
<p>Copyright © 2018 ywk66.com</p>
</div>

<include file="public:footer-style" />
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
var url = '';
$(function(){
	
	$("#form-data-login").validate({
		rules:{
			username:{
				required:true,
			},
			password:{
				required:true,
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){

			$(form).ajaxSubmit({
				type: 'post',
				url: "{{:url('login')}}" ,
				success: function(data){
	                if (data.code == 10000) {
	                	console.log(data.msg);
	                    layer.msg(data.msg,{icon:1,time:1000});

	                    url = data.data;
	                    //setTimeout('delayer()', 1000);
	                }else{
	                    layer.msg(data.msg,{icon:5,time:1000});
	                 }
	            },
	            error: function(XmlHttpRequest, textStatus, errorThrown){
	                layer.msg('系统繁忙!',{icon:5,time:1000});
	            },
			});
		}
	});
})
function delayer(){
 	window.location = "{{:url('member/index')}}?id="+url.id;
}
</script>
<include file="public:footer"/>