<include file="public:top" />
<title>聊天列表</title>
</head>
<body>

<div class="pd-20">
<style type="text/css">
    body{ background: #F0EFF5 }
    .obj{ padding: 0 5px; margin: 5px 0;}
    .obj .time{ color: #D1D1D2 }
    .obja p{ text-align: left;background: #5EC175;}
    .objb p{ text-align: left; margin-left:5%;}
    .content{border: 1px solid #D1D1D2; font-size: 14px; border-radius: 5px; background: #fff ;padding: 15px 5px; margin: 5px 0;}
</style>
<article class="page-container">
	<div >
		<div>
			<p>{{$member.nickname}}({{$member.username}}) :</p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$question.describe}}
			<p style="text-align: right;border-bottom:1px solid #D1D1D2;font-size:13px;">{{$question.add_time}}</p>
		</div>
        <ul>
        <volist name="list" id="vo">
            <if condition="$vo['is_first_answer'] eq 0">
	            <li class="obj obja">
	            	<p class="content" style="color: #ffffff">
	            		{{$vo.amember}} :
	            		{{$vo.content}} 
	            		<br>
	            		<span style="font-size:12px;">{{$vo.add_time}}</span>
	            		<if condition="$vo['status'] eq 2">
	            			<span style="color: #f00000;margin-left:5%;font-weight:bold">已采纳</span>
	            		</if>
	            	</p>
	            </li>
	        </if>
            <if condition="$vo['zhui'] neq ''"/>
            	<volist name="vo.zhui" id="v">
	            	<li class="obj objb">
		            	<p class="content">
		            		{{$v.amember}} :
		            		{{$v.content}}
		            		<br>
		            		<span style="font-size:12px;">{{$v.add_time}}</span>
		            	</p>
		            </li>
	        	</volist>
		    </if>   
	    </volist>
            </if>
        </volist>
        
        </ul>
    </div>
  </article>
</div>
<!--_footer 作为公共模版分离出去-->
<include file="public:footer-style" /><!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<!--<script type="text/javascript" src="__PUBLICADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
<script type="text/javascript" src="__PUBLICADMIN__lib/laypage/1.2/laypage.js"></script>
<include file="public:footer" />