<include file="public:top" />
<title>推送分类</title>
</head>

<body>

    <include file="public:crumbs" />
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="dropDown l" style="margin-left: 4px;"><a href="javascript:;" onclick="_add('添加','addByAjax','1200','600')"
                    class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a></span>
            <span class="r">共有数据：<strong>{{$count}}</strong> 条</span> </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
                <thead>
                    <tr class="text-c">
                        <th width="5%"><input type="checkbox" value="" name=""></th>
                        <th width="5%">ID</th>
                        <th width="10%">标识</th>
                        <th width="10%">名称</th>
                        <th width="10%">排序</th>
                        <th width="10%">创建时间</th>
                        <th width="10%">状态</th>
                        <th width="10%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="vo">
                        <tr class="text-c">
                            <td><input type="checkbox" value="{{$vo.id}}" name="id"></td>
                            <td>{{$vo.id}}</td>
                            <td>{{$vo.tag}}</td>
                            <td>{{$vo.name}}</td>
                            <td>{{$vo.sort}}</td>
                            <td>{{$vo.add_time|date="Y-m-d H:i:s",###}}</td>
                            <td>
                                <if condition="$vo['status'] eq 0">
                                    <span class="label label-warning radius">禁用</span>
                                    <elseif condition="$vo['status'] eq 1" />
                                    <span class="label label-success radius">正常</span>
                                    <elseif condition="$vo['status'] eq -1" />
                                    <span class="label label-danger radius">删除</span>
                                    <else />
                                    <span class="label label-primary radius">审核</span>
                                </if>
                            </td>
                            <td class="f-14">
                                <a title="编辑" href="javascript:;" onclick="_edit('订单编辑','{{:url('showById')}}','{{$vo.id}}',1200,600)"
                                    style="text-decoration:none">
                                    <i class="Hui-iconfont">&#xe6df;</i>
                                </a>
                            </td>
                        </tr>
                    </volist>
                </tbody>
                <if condition="$count gt 10">
                    <tbody>
                        <tr class="text-c">
                            <td colspan="100">{{$page}}</td>
                        </tr>
                    </tbody>
                </if>
            </table>
        </div>
    </div>
    <!--_footer 作为公共模版分离出去-->
    <include file="public:footer-style" />
    <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <!--<script type="text/javascript" src="__PUBLICADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
    <script type="text/javascript" src="__PUBLICADMIN__lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        /*用户-添加*/
        function _add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        /*订单-查看*/
        function _show(title, url, id, w, h) {
            layer_show(title, url + '?id=' + id, w, h);
        }
        /*用户-预览*/
        function article_show(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }

        function _edit(title, url, id, w, h) {
            layer_show(title, url + '?id=' + id, w, h);
        }

        /*卡密-停用*/
        function card_stop(obj, id) {
            layer.confirm('销毁之后不能恢复，确认要销毁吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: "{{:url('forbid')}}",
                    data: {
                        id: id,
                        status: '0'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 10000) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 1000
                            });
                            setTimeout('location.reload();', 1500);
                        } else {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 1000
                            });
                        }


                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }

        /*卡密-启用*/
        function card_start(obj, id) {
            layer.confirm('确认要启用吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: "{{:url('forbid')}}",
                    dataType: 'json',
                    data: {
                        id: id,
                        status: '1'
                    },
                    success: function (data) {
                        if (data.code == 10000) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 1000
                            });
                            setTimeout('location.reload();', 1500);
                        } else {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 1000
                            });
                        }

                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }

        /*订单-删除*/
        function _del(obj, id) {

            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: "{{:url('deleteByAjax')}}",
                    dataType: 'json',
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        $(obj).parents("tr").remove();
                        if (data.code == 10000) {
                            layer.msg('已删除!', {
                                icon: 1,
                                time: 1000
                            });
                        } else {
                            layer.msg('删除失败!', {
                                icon: 5,
                                time: 1000
                            });
                        }
                        setTimeout('location.reload();', 1000);

                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }

        /*批量删除*/
        function _del_all() {
            var id_array = new Array();
            $("input[name='id']:checked").each(function (i) {
                id_array.push($(this).val()); //向数组中添加元素
            });
            if (id_array.length != 0) {
                $.ajax({
                    type: 'POST',
                    url: "{{:url('deleteByAjax')}}",
                    data: {
                        //商品ID(数组)
                        id: id_array
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 10000) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 1000
                            });
                            setTimeout('location.reload();', 1500);
                        } else {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 1000
                            });
                        }
                    },
                    error: function (data) {
                        alert("系统繁忙");
                        location.reload();
                    },
                });
            } else {
                alert("请至少选择一条记录")
            }
        }
    </script>
    <include file="public:footer" />