<!DOCTYPE HTML>
<html>

<head>
	<include file="public:top-style" />
	<title>卡密管理</title>
</head>

<body>
	<include file="public:crumbs" />
	<div class="page-container">
		<div class="text-c">
			<form action="{{:url('index')}}" method="get">
				<input type="hidden" name="sfields" title="要查询的字段" value="title,card_code,price">
				日期范围：
				<input type="text" name="begintime" autocomplete="off" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate"
				 style="width:120px;">
				-
				<input type="text" name="endtime" autocomplete="off" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax"
				 class="input-text Wdate" style="width:120px;">
				<input type="text" class="input-text" style="width:250px" placeholder="输入商品名称" id="reunite" name="reunite">
				<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜商品</button>
			</form>
		</div>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l">
				<a href="javascript:;" onclick="_del_all()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
				<a href="javascript:;" onclick="_add('添加卡密','addByAjax','1200','600')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					添加卡密</a>
			</span>

			<span class="dropDown l" style="margin-left: 4px;">
				<a class=" btn btn-danger radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 分类查看</a>
				<ul class="dropDown-menu menu radius box-shadow">
					<li><a href="{{:url('index')}}">全部</a></li>
					<volist name="top_type" id="vo">
						<li><a href="{{:url('index')}}?type={{$vo.id}}">{{$vo.title}}</a></li>
					</volist>
				</ul>
			</span>

			<span class="dropDown l" style="margin-left: 4px;">
				<a class=" btn btn-danger radius " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 导出</a>
				<ul class="dropDown-menu menu radius box-shadow">
					<li><a href="{{:url('index')}}?typeid={{$typeid}}">导出全部excel</a></li>
					<li><a href="{{:url('index')}}?typeid={{$typeid?$typeid:'0'}}&activation=0">导出待激活excel</a></li>
					<li><a href="{{:url('index')}}?typeid={{$typeid?$typeid:'0'}}&activation=1">导出已激活excel</a></li>


				</ul>
			</span>


			<span class="r">共有数据：<strong>{{$count}}</strong> 条</span>
		</div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
				<thead>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="80">卡类型</th>
						<th width="120">卡密</th>
						<th width="80">卡面金额</th>
						<th width="80">卡面点/天数</th>
						<th width="80">剩余时间</th>
						<th width="80">文字描述</th>
						<th width="80">开始时间</th>
						<th width="80">截止时间</th>
						<th width="50">状态</th>
						<th width="80">用户名</th>
						<th width="80">激活时间</th>
						<th width="50">操作</th>

					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
						<tr class="text-c">
							<td><input type="checkbox" value="{{$vo.id}}" name="id"></td>
							<td title="卡类型">{{$vo.title}}</td>
							<td title="卡密">{{$vo.card_code}}</td>
							<td title="卡金额">￥{{$vo.price}}</td>
							<td title="卡面点/天数">
								<if condition="$vo['days'] eq ''">{{$vo.coin}} 点
									<else />{{$vo.days}} 天</if>
							</td>
							<td title="剩余时间">
								<if condition="$vo['activation'] eq 0">
									<if condition="$vo['enday'] lt 0">已过期 [D：</if>{{$vo.enday}}<if condition="$vo['enday'] lt 0">]</if>
								</if>
							</td>
							<td title="文字描述">{{$vo.title}}</td>
							<td title="开始时间">{{$vo.start_time|date="Y-m-d",###}}</td>
							<td title="截止时间">{{$vo.end_time|date="Y-m-d",###}}</td>

							<td title="状态">
								<if condition="$vo['status'] eq 1">
									<if condition="$vo['activation'] eq 0">
										<span class="label label-success radius">待激活</span>
										<elseif condition="$vo['activation'] eq 1" />
										<span class="label label-default radius">已激活</span>
										<else />
										<span class="label label-danger radius">已过期</span>
									</if>
									<else />
									<span class="label label-primary radius">已销毁</span>
								</if>
							</td>
							<td title="用户名">{{$vo.uname}}</td>
							<td width="激活时间">
								<if condition="$vo['actime'] neq ''">{{$vo.actime|date="Y-m-d H:i:s",###}}</if>
							</td>
							<td class="f-14 td-manage">
								<if condition="$vo['status'] eq 1"><a style="text-decoration:none" onClick="card_stop(this,'{{$vo.id}}')" href="javascript:;"
									 title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
									<else /><a style="text-decoration:none" class="ml-5" href="javascript:;" title="不能恢复"><i class="Hui-iconfont">&#xe63f;</i></a></if>
								<a style="text-decoration:none" class="ml-5" onClick="_del(this,'{{$vo.id}}')" href="javascript:;" title="删除"><i
									 class="Hui-iconfont">&#xe6e2;</i></a>
							</td>
						</tr>
					</volist>
				</tbody>
				<if condition="$count gt 10">
					<tbody>
						<tr class="text-c">
							<td colspan="13">{{$page}}</td>
						</tr>
					</tbody>
				</if>
			</table>
		</div>
	</div>
	<!--_footer 作为公共模版分离出去-->
	<include file="public:footer-style" />
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__PUBLICADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="__PUBLICADMIN__lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript">
		/*用户-添加*/
		function _add(title, url, w, h) {
			layer_show(title, url, w, h);
		}

		function _edit(title, url, id, w, h) {
			layer_show(title, url + '?id=' + id, w, h);
		}
		/*卡密-停用*/
		function card_stop(obj, id) {
			layer.confirm('销毁之后不能恢复，确认要销毁吗？', function (index) {
				$.ajax({
					type: 'POST',
					url: "{{:url('forbid')}}",
					data: {
						id: id,
						status: '0'
					},
					dataType: 'json',
					success: function (data) {
						if (data.code == 10000) {
							layer.msg(data.msg, {
								icon: 6,
								time: 1000
							});
							setTimeout('location.reload();', 1500);
						} else {
							layer.msg(data.msg, {
								icon: 6,
								time: 1000
							});
						}


					},
					error: function (data) {
						console.log(data.msg);
					},
				});
			});
		}

		/*卡密-启用*/
		function card_start(obj, id) {
			layer.confirm('确认要启用吗？', function (index) {
				$.ajax({
					type: 'POST',
					url: "{{:url('forbid')}}",
					dataType: 'json',
					data: {
						id: id,
						status: '1'
					},
					success: function (data) {
						if (data.code == 10000) {
							layer.msg(data.msg, {
								icon: 6,
								time: 1000
							});
							setTimeout('location.reload();', 1500);
						} else {
							layer.msg(data.msg, {
								icon: 6,
								time: 1000
							});
						}

					},
					error: function (data) {
						console.log(data.msg);
					},
				});
			});
		}


		/*单独删除*/
		function _del(e, id) {
			layer.confirm('确认要删除吗？', function (index) {
				$.ajax({
					type: 'POST',
					url: "{{:url('deleteByAjax')}}",
					data: {
						id: id
					},
					dataType: 'json',
					success: function (data) {
						if (data.code == 10000) {
							layer.msg(data.msg, {
								icon: 6,
								time: 1000
							});
							setTimeout('location.reload();', 1000);
						} else {
							layer.msg(data.msg, {
								icon: 6,
								time: 1000
							});
						}
					},
					error: function (data) {
						alert("系统繁忙");
						location.reload();
					},
				});
			});
		}
		/*批量删除*/
		function _del_all() {
			var id_array = new Array();
			$("input[name='id']:checked").each(function (i) {
				id_array.push($(this).val()); //向数组中添加元素
			});
			if (id_array.length != 0) {
				$.ajax({
					type: 'POST',
					url: "{{:url('deleteByAjax')}}",
					data: {
						//商品ID(数组)
						id: id_array
					},
					dataType: 'json',
					success: function (data) {
						if (data.code == 10000) {
							layer.msg(data.msg, {
								icon: 6,
								time: 1000
							});
							setTimeout('location.reload();', 1500);
						} else {
							layer.msg(data.msg, {
								icon: 6,
								time: 1000
							});
						}
					},
					error: function (data) {
						alert("系统繁忙");
						location.reload();
					},
				});
			} else {
				alert("请至少选择一个商品")
			}
		}
		/*function exportexcel(typeid = '')
		{
			if (typeid == '')
			{
				layer.msg('请选择要导出的分类!',{icon:2,time:2000});
			}else{
				$.ajax({
					type: 'POST',
					url: '__ADMIN__/Card/exportexcel',
					dataType: 'json',
					data:{'typeid':typeid},
					success: function(data){
						if(data.code == 11700){
							layer.msg('导出成功!',{icon:1,time:1000});
						}else{
							layer.msg('导出失败!',{icon:1,time:1000});
						}
						setTimeout('location.reload();',1000);

					},
					error:function(data) {
						console.log(data.msg);
					},
				});
			}
		}*/
	</script>
	<include file="public:footer" />