<include file="public:top" />
<title>商品管理</title>
</head>
<body>
<include file="public:crumbs" />
<div class="page-container">
    <div class="text-c">
        <form action="{{:url('index')}}" method="get">
        <input type="hidden" name="sfields" title="要查询的字段" value="goods_name">
        日期范围：
        <input type="text" autocomplete="off" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;" >
        -
        <input type="text" autocomplete="off" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;" >
        <input type="text" class="input-text" style="width:250px" placeholder="输入商品名称" id="reunite" name="reunite">
        <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜商品</button>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l"><a href="javascript:;" onclick="_del_all()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
    </span>
    <span class="dropDown l" style="margin-left: 4px;">
            <a class=" btn btn-danger radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 商品类型</a>
            <ul class="dropDown-menu menu radius box-shadow select-menu" id="goodstype">
                <li><a href="__MODULE__/Goods/index">全部</a></li>
                {{$option}}
            </ul>
        </span>
		<span class="dropDown l" style="margin-left: 4px;">
			<a class=" btn btn-danger radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 商品标签</a>
			<ul class="dropDown-menu menu radius box-shadow">
				<li><a href="{{:url('index')}}">全部</a></li>
                <volist name="flag" id="f">
                    <li><a href="{{:url('index')}}?sfields=flag&reunite={{$f.id}}">{{$f.title}}</a></li>
                </volist>
			
			</ul>
		</span>
		<span class="dropDown l" style="margin-left: 4px;"><a href="javascript:;" onclick="_add('添加商品','addByAjax','1200','600')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加商品</a></span>

		<!-- <span class="dropDown l" style="margin-left: 4px;"><a href="javascript:;" onclick="member_add('添加服务商品','__MODULE__/Goods/sevicegoodsadd','1200','670')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加服务商品</a></span> -->

    <span class="r">共有数据：<strong class="jl">{{$count}}</strong> 条</span> </div>
    <div class="mt-20">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="30">ID</th>
                <th width="100">商品名称</th>
                <th width="50">商品类型</th>
                <th width="50">商品数量</th>
                <th width="90">商品标签</th>
                <th width="50">商品价格</th>
                <th width="50">销售价格</th>
                <th width="50">商品状态</th>
                <th width="80">操作</th>

            </tr>
        </thead>
        <tbody class="table">
        <volist name="list" id="vo">
            <tr class="text-c">
                <td><input type='checkbox' value='{{$vo.id}}' name='id'></td>
                <td class='id'>{{$vo.id}}</td>
                <td class=''>{{$vo.goods_name}}</td>
                <td class=''>{{$vo.goods_name}}</td>
                <td class='num'>{{$vo.num}}</td>
                <td class='flag'>{{$vo.flag}}</td>
                <td class='price'>{{$vo.price}}</td>
                <td class='selling_price'>{{$vo.selling_price}}</td>
                <td class="td-status">{{$vo.status_cn}}</td>
                <td class='td-manage'>
                <if condition="$vo['status'] eq 1">
                        <a style="text-decoration:none" onClick="_stop(this,'{{$vo.id}}')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>
                    <else />
                        <a style="text-decoration:none" onClick="_start(this,{{$vo.id}})" href="javascript:;" title="上架"><i class="Hui-iconfont">&#xe6dc;</i></a>
                    </if>
                 <a title='编辑' href='javascript:;' onclick='_edit("编辑","{{:url('showById')}}","{{$vo.id}}","1200","600")' class='ml-5' style='text-decoration:none'><i class='Hui-iconfont'>&#xe6df;</i></a> </a> <a title='删除' href='javascript:;' onclick='_del(this,"{{$vo.id}}")' class='ml-5' style='text-decoration:none'><i class='Hui-iconfont'>&#xe6e2;</i></a></td>
            </tr>
        </volist>
        </tbody>
        <if condition="$count gt 10">
        <tbody>
            <tr class="text-c">
                <td colspan="13">{{$page}}</td>
            </tr>
        </tbody>
        </if>
    </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<include file="public:footer-style" />

 <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
     $(function(){
    $('.select-menu > li').hover(function(){
        $(this).children().show();
        $(this).siblings().find("ul").hide();

    })
})

function _edit(title,url,id,w,h){
        layer_show(title,url+'?id='+id,w,h);
    }

/*单独删除*/
function _del(e = '',id = ''){
    if (!id) 
    {
        var id = new Array();
        $("input[name='id']:checked").each(function(i){
            id.push($(this).val());//向数组中添加元素
        });
        if (id.length < 1) {
            layer.msg('错误：至少选择一项!',{icon:1,time:1000});
            return false;
        }
    }
    layer.confirm('确认要删除吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('deleteByAjax')}}",
            data:{
                id: id
            },
            dataType: 'json',
            success: function(data){
                if(data.code == 10000){
                    layer.msg(data.msg,{icon: 6,time:1000});
                    setTimeout('location.reload();',1000);
                }else{
                    layer.msg(data.msg,{icon: 6,time:1000});
                }
            },
            error:function(data) {
                alert("系统繁忙");
                location.reload();
            },
        });
    });
}

/*用户-添加*/
function _add(title,url,w,h){
    layer_show(title,url,w,h);
}
/*用户-查看*/
function _show(title,url,id,w,h){
    layer_show(title,url,w,h);
}
/*用户-停用*/
function _stop(obj,id){
    //这是停用状态
    $.ajax({
        type: 'POST',
        url: "{{:url('forbid')}}",
        data:{
            id: id,
            status:'0'
        },
        dataType: 'json',
        success: function(data){
            if(data.code == 10000){
                layer.msg(data.msg,{icon: 6,time:1000});
                setTimeout('location.reload();',1500);
            }else{
                layer.msg(data.msg,{icon: 6,time:1000});
            }
            
        },
        error:function(data) {
            alert("系统繁忙");
            location.reload();
        },
    });
}

/*用户-启用*/
function _start(obj,id){
    
    $.ajax({
        type: 'POST',
        url: "{{:url('forbid')}}",
        data:{
            //商品ID
            id: id,
            status:'1'
        },
        dataType: 'json',
        success: function(data){
            if(data.code == 10000){
                layer.msg(data.msg,{icon: 6,time:1000});
                setTimeout('location.reload();',1500);
            }else{
                layer.msg(data.msg,{icon: 6,time:1000});
            }
        },
        error:function(data) {
            console.log(data.msg);
        },
    });
}

</script>
<include file="public:footer" />
