<!DOCTYPE HTML>
<html>
<head>
<include file="public:top-style" />
<title>卡密分类</title>
</head>
<body>
<include file="public:crumbs" />	
<div class="page-container">
	<div class="text-c">
	<form action="{{:url('index')}}" method="get">
        <input type="hidden" name="sfields" title="要查询的字段" value="title,content">
        <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
        日期范围：
        <input type="text" autocomplete="off" name="begintime" autocomplete="off" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" autocomplete="off" name="endtime" autocomplete="off" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
        <input type="text" name="reunite" id="" placeholder="标题，作者，关键字等" style="width:250px" class="input-text">
        <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
            </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l"><a href="javascript:;" onclick="_del_all()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span>
        <span class="dropDown l" style="margin-left: 4px;"><a href="javascript:;" onclick="_add('添加','addByAjax','1200','600')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a></span>
        <span class="r">共有数据：<strong>{{$count}}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="15"><input type="checkbox" name="" value=""></th>
                <th width="20">ID</th>
                <th width="130">标题</th>
                <th width="150">内容</th>
                <th width="20">标记</th>
                <th width="100">创建时间</th>
                <th width="40">状态</th>
                <th width="50">操作</th>
            </tr>
        </thead>
        <tbody>
          	<volist name="list" id="vo">
            <tr class="text-c">
                <td><input type="checkbox" value={{$vo.id}} name="id"></td>
                <td>{{$vo.id}}</td>
                <td style="text-align: left">{{$vo.title}}<i style="cursor:pointer;" class="Hui-iconfont" onclick="_show('预览','{{:url('preview')}}',{{$vo.id}},'1000','600')"> &#xe725;</i></td>
                <td>{{$vo.content}}</td>
                <td>{{$vo.tag_cn}}</td>
                <td>{{$vo.add_time|date="Y-m-d H:i:s",###}}</td>
                <neq name="vo.status" value="0">
                <td><span class="label label-success radius">已启用</span></td>
                <else/>
                <td><span class="label radius">已停用</span></td>
                </neq>

                <neq name="vo.status" value="0">
	                <td class="td-manage">
		                <a style="text-decoration:none" onClick="card_stop(this,{{$vo.id}})" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> 

		                <a title="编辑" href="javascript:;" onclick="_edit('编辑','{{:url('showById')}}','{{$vo.id}}','1200','600')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 

		                <a title="删除" href="javascript:;" onclick="_del(this,'{{$vo.id}}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
		          	<else/>

		                <td class="td-manage"><a style="text-decoration:none" onClick="card_start(this,{{$vo.id}})" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a> 

		                <a title="编辑" href="javascript:;" onclick="_edit('编辑','{{:url('showById')}}','{{$vo.id}}','1200','600')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 

		                <a title="删除" href="javascript:;" onclick="_del(this,'{{$vo.id}}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
	            	</td>
                </neq>
            </tr>
            </volist>
        </tbody>
        <if condition="$count gt 10">
        <tbody>
            <tr class="text-c">
                <td colspan="100">{{$page}}</td>
            </tr>
            </tbody>
        </if>
    </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<include file="public:footer-style" /><!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*订单-查看*/
function _show(title,url,id,w,h){
    layer_show(title,url+'?id='+id,w,h);
}
/*用户-添加*/
function _add(title,url,w,h){
    layer_show(title,url,w,h);
}
function _edit(title,url,id,w,h){
        layer_show(title,url+'?id='+id,w,h);
    }	
/*卡密-停用*/
function card_stop(obj,id){
    layer.confirm('销毁之后不能恢复，确认要销毁吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('forbid')}}",
            data:{
                id: id,
                status: '0'
            },
            dataType: 'json',
            success: function(data){
				if(data.code == 10000){
                    layer.msg(data.msg,{icon: 6,time:1000});
                    setTimeout('location.reload();',1500);
                }else{
                    layer.msg(data.msg,{icon: 6,time:1000});
                }
                
                
            },
            error:function(data) {
                console.log(data.msg);
            },
        });     
    });
}

/*卡密-启用*/
function card_start(obj,id){
    layer.confirm('确认要启用吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('forbid')}}",
            dataType: 'json',
            data:{
                id: id,
                status:'1'
            },
            success: function(data){
				if(data.code == 10000){
                    layer.msg(data.msg,{icon: 6,time:1000});
                    setTimeout('location.reload();',1500);
                }else{
                    layer.msg(data.msg,{icon: 6,time:1000});
                }
                
            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    });
}


/*单独删除*/
function _del(e,id){
    layer.confirm('确认要删除吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('deleteByAjax')}}",
            data:{
                id: id
            },
            dataType: 'json',
            success: function(data){
                if(data.code == 10000){
                    layer.msg(data.msg,{icon: 6,time:1000});
                    setTimeout('location.reload();',1000);
                }else{
                    layer.msg(data.msg,{icon: 6,time:1000});
                }
            },
            error:function(data) {
                alert("系统繁忙");
                location.reload();
            },
        });
    });
}
/*批量删除*/
function _del_all(){
    var id_array=new Array();
    $("input[name='id']:checked").each(function(i){
        id_array.push($(this).val());//向数组中添加元素
    });
    if(id_array.length!=0){
        $.ajax({
            type: 'POST',
            url: "{{:url('deleteByAjax')}}",
            data:{
                //商品ID(数组)
                id: id_array
            },
            dataType: 'json',
            success: function(data){
                if(data.code == 10000){
                    layer.msg(data.msg,{icon: 6,time:1000});
                    setTimeout('location.reload();',1500);
                }else{
                    layer.msg(data.msg,{icon: 6,time:1000});
                }
            },
            error:function(data) {
                alert("系统繁忙");
                location.reload();
            },
        });
    }else{
        alert("请至少选择一个商品")
    }
}


</script> 
<include file="public:footer" />