<include file="public:top" />
</head>

<body>
    <article class="page-container">
        <form method="post" class="form form-horizontal" id="form-data-add" enctype="multipart/form-data">
            <input type="hidden" class="input-text" value="1" placeholder="" id="sort" name="sort">
            <input type="hidden" class="input-text" value="{{$vo.id}}" placeholder="" id="id" name="id">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="{{$vo.title}}" placeholder="" id="title" name="title">
                </div>
            </div>
          
         <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>图片：</label>
            <div class="formControls col-xs-5 col-sm-7">
                <input type="text" class="input-text" disabled="true" >
                <div class="img-box a0b923820dcc509a-img"></div>
            </div>
            <div class="formControls col-xs-4 col-sm-3"><a title='图片显示' href='javascript:;' onclick="ajaxpage('1','a0b923820dcc509a-img');" class='btn btn-secondary radius' style='text-decoration:none'>图片</a></div>
        </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类型：</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                        <select name="type" class="select">
                            {{$option}}
                        </select>
                    </span> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">标记：</label>
                <div class="skin-minimal col-xs-8 col-sm-9">
                    <div class="check-box">
                        <input type="checkbox" name="tag[]" id="checkbox-1" checked value="f" <if condition="in_array('f',$vo['tag'])">
                        checked </if>>
                        <label for="checkbox-1">推荐</label>
                    </div>
                    <div class="check-box">
                        <input type="checkbox" name="tag[]" id="checkbox-2" value="h" <if condition="in_array('h',$vo['tag'])">
                        checked </if>>
                        <label for="checkbox-2">热点</label>
                    </div>
                </div>
            </div>

            
            
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">发布作者：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="如果为空则为默认" id="author" name="author">
            </div>
        </div>
           <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">预设点击：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{$vo.histort_click_count}}" placeholder="" id="histort_click_count" name="histort_click_count">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">预设浏览：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{$vo.histort_browse_count}}" placeholder="" id="histort_browse_count" name="histort_browse_count">
            </div>
        </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">内容：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <script name='content' id="editor" type="text/plain" style="width:100%;height:400px;">{{$vo.content}}</script>
                </div>
            </div>

            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>


        </form>
    </article>

    <include file="public:footer-style" />

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="__PUBLICADMIN__lib/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLICADMIN__lib/ueditor/1.4.3/ueditor.all.js"> </script>
    <script type="text/javascript" src="__PUBLICADMIN__lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>

    <script type="text/javascript">
        $('#mySwitch').on('switch-change', function (e, data) {
            var $el = $(data.el),
                value = data.value;
            <!-- console.log(e, $el, value); -->
            if (value) {
                $('#scheduletime').show();
            } else {
                $('#scheduletime').hide();
            }
        });

        function selectAll() {
            //点击全选
            $("#selectAll").click(function () {
                if ($(this).prop("checked")) {
                    //选中状态
                    for (var i = 0; i < $(".detailAddr").length; i++) {
                        $(".detailAddr").eq(i).prop("checked", true);
                    }

                } else {
                    for (var i = 0; i < $(".detailAddr").length; i++) {
                        $(".detailAddr").eq(i).removeAttr("checked");
                    }
                }
            })
        }
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });
            selectAll();
            //表单验证
            $("#form-data-add").validate({
                rules: {
                    title: {
                        required: true,
                    },

                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "{{:url('updateByAjax')}}",
                        success: function (data) {
                            if (data.code == 10000) {
                                layer.msg(data.msg, {
                                    icon: 1,
                                    time: 1000
                                });
                                setTimeout('parent.location.reload();', 1500);
                            } else {
                                layer.msg(data.msg, {
                                    icon: 5,
                                    time: 1000
                                });
                            }
                        },
                        error: function (XmlHttpRequest, textStatus, errorThrown) {
                            layer.msg('系统繁忙!', {
                                icon: 5,
                                time: 1000
                            });
                        },
                    });
                }
            });


        });
    </script>
    <include file="public:img" />
    <!--/请在上方写此页面业务相关的脚本-->
    <include file="public:footer" />