<include file="public:top" />
<title>订单列表</title>
</head>

<body>
<include file="public:crumbs" />
<div class="page-container">

<form action="{{:url('recycle')}}" method="get">
    <input type="hidden" name="sfields" title="要查询的字段" value="o.order_no,u.phone,o.title">
    <div class="text-c"> 日期范围：
        <input type="text" name="begintime" autocomplete="off" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })"
            id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" name="endtime" autocomplete="off" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })"
            id="datemax" class="input-text Wdate" style="width:120px;">
        <input type="text" class="input-text" name="reunite" style="width:250px" placeholder="输入订单号" id="">
        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜订单号</button>
    </div>
</form>


<div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l"><a href="javascript:;" onclick="_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span>
    <span class="dropDown l" style="margin-left: 4px;">
    <a class=" btn btn-danger radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 分类查看</a>
    <ul class="dropDown-menu menu radius box-shadow select-menu">
        <li><a href="{{:url('recycle')}}">全部</a></li>
        <li><a href="{{:url('index')}}?payway=wallet">余额支付</a></li>
        <li><a href="{{:url('index')}}?payway=coin">法币支付</a></li>
        <li><a href="{{:url('index')}}?payway=alipay">支付宝支付</a></li>
        <li><a href="{{:url('index')}}?payway=wxpay">微信支付</a></li>

    </ul>
</span>
<span class="dropDown l" style="margin-left: 4px;">
    <a class=" btn btn-danger radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 订单类型</a>
    <ul class="dropDown-menu menu radius box-shadow">
        <li><a href="{{:url('index')}}">全部</a></li>
        <li><a href="{{:url('index')}}?goods_type_en=itext">律师函</a></li>
        <li><a href="{{:url('index')}}?goods_type_en=quick">快速咨询</a></li>
        <li><a href="{{:url('index')}}?goods_type_en=doc">文书服务</a></li>
        <li><a href="{{:url('index')}}?goods_type_en=quickdoc">图文咨询</a></li>
        <li><a href="{{:url('index')}}?goods_type_en=template">商城模板</a></li>
        <li><a href="{{:url('index')}}?goods_type_en=server">法务服务</a></li>
        <li><a href="{{:url('index')}}?goods_type_en=shop">服务商城</a></li>
        <li><a href="{{:url('index')}}?goods_type_en=training">法律培训</a></li>

    </ul>
</span>
   <span class="dropDown l" style="margin-left: 4px;">
    <a class=" btn btn-danger radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 订单进度</a>
    <ul class="dropDown-menu menu radius box-shadow">
        <li><a href="{{:url('refund')}}">全部</a></li>
        <li><a href="{{:url('refund')}}?ustatus=1">待退款</a></li>
        <li><a href="{{:url('refund')}}?ustatus=2">已退款</a></li>
        <li><a href="{{:url('refund')}}?ustatus=3">未退款</a></li>

    </ul>
</span>
    <span class="r">共有数据：<strong>{{$count}}</strong> 条</span> </div>
<div class="mt-20">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="160">服务对象</th>
                <th width="160">订单编号</th>
                <th width="70">金额/加急费</th>
                <th width="50">支付方式</th>
                <th width="150">退款原因</th>
                <th width="110">申请时间</th>
                <th width="50">处理人</th>
                <th width="50">状态</th>
                <th width="60">操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
                <tr class="text-c">
                    <td><input type="checkbox" value={{$vo.id}} name="check"></td>
                    <td title="订单类型">{{$vo.lid_cn}}->{{$vo.uid_cn}}</td>
                    <td title="订单编号">{{$vo.order_no}}</td>
                    <td title="支付金额">￥{{$vo['total']}} </if>
                    </td>
                    <td title="支付方式">{{$vo.payway_cn}}</td>

                    <td title="退款原因">{{$vo.refund_cause}}</td>

                    <td title="申请时间">{{:date('Y-m-d H:i:s',$vo['ask_time'])}}</td>
                    <td title="处理人">{{$vo.person}}</td>
                    <td title="退款状态">
                        <if condition="$vo['act_status'] eq 0"><span class="label label-warning radius">未退款</span></if>
                        <if condition="$vo['act_status'] eq 1"><span class="label label-success radius">已退款</span></if>
                        <if condition="$vo['act_status'] eq 2"><span class="label label-default radius">已拒绝</span></if>
                    </td>
                    <neq name="vo.act_status" value="0">
                        <td class="td-manage"><a title="编辑" href="javascript:;" onclick="member_edit('查看','__ADMIN__/Order/modify.html',{{$vo.id}},'1000','650',{{$vo.id}})"
                                class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a></td>
                        <else />
                        <td class="td-manage">
                            <a style="text-decoration:none" onClick="refund_edit('自定义退款','__ADMIN__/Refound/back',{{$vo.id}},'{{$vo.order_no}}','1000','650')"
                                href="javascript:;" title="按需退款"><i class="Hui-iconfont">&#xe60c;</i></a>

                           

                            <a style="text-decoration:none" onClick="no_refund('拒绝退款','__ADMIN__/Payback/noback',{{$vo.id}},'{{$vo.order_no}}','600','400')"
                                href="javascript:;" title="拒绝退款"><i class="Hui-iconfont">&#xe726;</i></a>
                        </td>
                    </neq>
                </tr>
            </volist>
        </tbody>
        <if condition="$count gt 10">
            <tbody>
                <tr class="text-c">
                    <td colspan="13">{{$page}}</td>
                </tr>
            </tbody>
        </if>
    </table>
</div>
</div>
<!--_footer 作为公共模版分离出去-->
<include file="public:footer-style" />

<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLICADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLICADMIN__lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
/*用户-添加*/
function member_add(title, url, w, h) {
    layer_show(title, url, w, h);
}


/*订单-删除*/
function _del(obj = '',id = ''){
    if (!id) 
    {
        var id = new Array();
        $("input[name='id']:checked").each(function(i){
            id.push($(this).val());//向数组中添加元素
        });
        if (id.length < 1) {
            layer.msg('错误：至少选择一项!',{icon:1,time:1000});
            return false;
        }
    }
    layer.confirm('确认要删除吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('deleteByAjax')}}",
            dataType: 'json',
            data:{'id':id},
            success: function(data){
                $(obj).parents("tr").remove();
                if(data.code == 10000){
                    layer.msg(data.msg,{icon:1,time:1000});
                }else{
                    layer.msg(data.msg,{icon:1,time:1000});
                }
                setTimeout('location.reload();',1000);

            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    });
}

function quick_refund(obj = '',id = ''){

    layer.confirm('即将退款到对方账户，确认要退款吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('refundReady')}}",
            dataType: 'json',
            data:{'id':id},
            success: function(data){
                $(obj).parents("tr").remove();
                if(data.code == 10000){
                    layer.msg(data.msg,{icon:1,time:1000});
                }else{
                    layer.msg(data.msg,{icon:1,time:1000});
                }
                setTimeout('location.reload();',1000);

            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    });
}
</script>
<include file="public:footer" />